* {
  font-family: "Roboto", sans-serif !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

body {
  position: relative;
  background-color: #1f262e;
}

label {
  color: #9fadbc !important;
}

input {
  color: #e8ecf0 !important;
}

fieldset {
  border-color: #9fadbc !important;
}


textarea {
  max-width: 80%;
  width: 80%;
  height: 44px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: #1f262e;
  outline: none;
  caret-color: #e8ecf0;
  color: #e8ecf0;
  padding: 10px;
}
